@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #1a1a2e;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* スマホタップ時のハイライト除去 */
* {
  -webkit-tap-highlight-color: transparent;
}

/* スムーズスクロール */
html {
  scroll-behavior: smooth;
}
.font-ritz {
  font-family: var(--font-ritz);
}
